.history
.vscode
data
*.log
myc1
myc2
myc3
pbb1
pbb2
prr
pbb3
wrun
sfg3
pss1
pss2
pss3
sfg
sfg2
ubiclog/myc2.log
ubiclog/myc3.log
ubiclog/nb.log
ubiclog/nb2.log
ubiclog/nb3.log
ubiclog/nr.log
ubiclog/ns.log
ubiclog/ns2.log
ubiclog/ns3.log